In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pylab import rcParams

rcParams["figure.figsize"] = (10, 6)
sns.set()

In [2]:
main_data = pd.read_csv("FuelConsumptionCo2.csv")

In [3]:
main_data.sample(5)

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
81,2014,BMW,328i,COMPACT,2.0,4,A8,Z,10.0,6.5,8.4,34,193
485,2014,HONDA,ACCORD,MID-SIZE,3.5,6,AS6,X,11.4,7.3,9.6,29,221
902,2014,PORSCHE,PANAMERA 4,FULL-SIZE,3.6,6,AM7,Z,13.1,8.7,11.1,25,255
243,2014,CHEVROLET,SILVERADO 4WD,PICKUP TRUCK - STANDARD,4.3,6,A6,E,20.0,15.1,17.8,16,285
985,2014,TOYOTA,HIGHLANDER HYBRID AWD,SUV - STANDARD,3.5,6,AV6,X,8.0,8.6,8.3,34,191

### Step 1

In [4]:
main_data[["FUELCONSUMPTION_CITY", "FUELCONSUMPTION_HWY", "FUELCONSUMPTION_COMB", "FUELCONSUMPTION_COMB_MPG", "CO2EMISSIONS"]].describe()

,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
count,1067.000000,1067.000000,1067.000000,1067.000000,1067.000000
mean,13.296532,9.474602,11.580881,26.441425,256.228679
std,4.101253,2.794510,3.485595,7.468702,63.372304
min,4.600000,4.900000,4.700000,11.000000,108.000000
25%,10.250000,7.500000,9.000000,21.000000,207.000000
50%,12.600000,8.800000,10.900000,26.000000,251.000000
75%,15.550000,10.850000,13.350000,31.000000,294.000000
max,30.200000,20.500000,25.800000,60.000000,488.000000

##### So here we have some quantitive overview of some of variables

### Step 2

##### Observation:
- Average Co2 Emissions is 256.23 and minimum is 108 and maximum emissions is 488
- Here Fuel Consumption is directly affect on Co2 Emissions
- So if there is less Fuel Consumption then co2 Emissions will be less.